<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="store_locator_save_before">
        <observer name="drobko_storelocator_store_locator_load_before" instance="Drobko\Storelocator\Observer\StorelocatorBeforeSave" />
    </event>
</config>
